.loadingSpinner {
}

.items-error,
.items-empty {
    text-align: center;
    padding: 60px 20px;
    max-width: 600px;
    margin: 0 auto;
}

.items-error h2,
.items-empty h2 {
    margin-bottom: 10px;
}
