.cart-item td {
    vertical-align: middle;
    height: 100%;
    padding: 10px;
    text-align: center;
}

.cart-item img {
    border-radius: 5px;
    max-height: 5em;
    width: auto;
    display: block;
    margin: 0 auto;
}

.remove-item-td {
    max-width: 60px;
    padding: 0;
}

.remove-item-td .button {
    margin: 0;
    padding: 0.4em 0.7em;
}
