/* Default Light Mode Styles */
.itemView {
    margin: 20px;
    padding: 15px; /* Increased padding for better spacing */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Softer shadow for a cleaner look */
    transition: transform 0.3s, box-shadow 0.3s; /* Added transition for box-shadow */
    border-radius: 10px; /* More rounded corners */
    background-color: #ffffff; /* Added background color for consistency */
    display: flex;
    flex-direction: column;
}

.itemView:hover {
    transform: scale(1.05); /* Slightly reduced zoom for a subtler effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
    transition: transform 0.3s, box-shadow 0.3s; /* Ensured transitions are smooth */
}

.itemView .item {
    display: flex;
    flex-direction: column;
}

.itemView .item .item-description .item-description-text {
    display: none;
}

.itemView .itemDisplay {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    .itemView {
        background-color: #333333; /* Dark background color */
        color: #ffffff; /* White text for contrast */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Darker shadow for depth */
    }

    .itemView:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7); /* Darker shadow on hover */
    }
}
